[Desktop Entry]
Version=1.0
Type=Application
Name=World Wide Terminal
GenericName=Web Browser
Comment=Browse the web from a terminal
Exec=wwt %u
TryExec=wwt
Icon=wwt
Terminal=true
Categories=Network;WebBrowser;
Keywords=Internet;WWW;Browser;Web;Terminal;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=false
Actions=new-session;

[Desktop Action new-session]
Name=New Session
Exec=wwt --new
